[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap-sdks-approvers
	owner = group user/Matthew Harmsen (mharmsen99)
[access "refs/for/refs/*"]
	read = group ldap-sdks-approvers
	read = group user/Matthew Harmsen (mharmsen99)
	push = group ldap-sdks-approvers
	push = group user/Matthew Harmsen (mharmsen99)
	label-Code-Review = -2..+2 group ldap-sdks-approvers
	label-Code-Review = -2..+2 group user/Matthew Harmsen (mharmsen99)
	label-Verified = -1..+1 group ldap-sdks-approvers
	label-Verified = -1..+1 group user/Matthew Harmsen (mharmsen99)
	rebase = group ldap-sdks-approvers
	rebase = group user/Matthew Harmsen (mharmsen99)
	removeReviewer = group ldap-sdks-approvers
	removeReviewer = group user/Matthew Harmsen (mharmsen99)
	submit = group ldap-sdks-approvers
	submit = group user/Matthew Harmsen (mharmsen99)
[access "refs/heads/*"]
	read = group ldap-sdks-approvers
	read = group user/Matthew Harmsen (mharmsen99)
	create = group ldap-sdks-approvers
	create = group user/Matthew Harmsen (mharmsen99)
	push = group ldap-sdks-approvers
	push = +force group user/Matthew Harmsen (mharmsen99)
	pushMerge = group ldap-sdks-approvers
	pushMerge = group user/Matthew Harmsen (mharmsen99)
[access "refs/tags/*"]
	push = group ldap-sdks-approvers
	push = group user/Matthew Harmsen (mharmsen99)
	push = +force group user/Matthew Harmsen (mharmsen99)
