name: Build Tests

on: [push, pull_request]

jobs:
  init:
    name: Initialization
    uses: ./.github/workflows/init.yml
    secrets: inherit

  build-test:
    name: Build Test
    needs: init
    runs-on: ubuntu-latest
    container: ${{ needs.init.outputs.base-image }}
    steps:
    - name: Clone repository
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        dnf install -y dnf-plugins-core moby-engine maven rpm-build
        if [ -n "$COPR_REPO" ]; then dnf copr enable -y $COPR_REPO; fi
        dnf builddep -y --skip-unavailable --spec ldapjdk.spec
      env:
        COPR_REPO: ${{ needs.init.outputs.repo }}

    - name: Install JSS packages from jss-dist
      run: |
        docker pull quay.io/dogtagpki/jss-dist:latest
        docker create --name=jss-dist quay.io/dogtagpki/jss-dist:latest
        docker cp jss-dist:/root/RPMS /tmp/RPMS/
        docker rm -f jss-dist
        dnf localinstall -y /tmp/RPMS/*

    - name: Build LDAP JDK with Ant
      run: |
        ./build.sh

    - name: Install JSS into Maven repo
      run: |
        mvn install:install-file \
            -Dfile=/usr/lib/java/jss.jar \
            -DgroupId=org.dogtagpki.jss \
            -DartifactId=jss-base \
            -Dversion=5.5.0-SNAPSHOT \
            -Dpackaging=jar \
            -DgeneratePom=true

    - name: Build LDAP JDK with Maven
      run: |
        mvn package

    - name: Compare ldapjdk.jar
      run: |
        jar tvf ~/build/ldapjdk/packages/ldapjdk.jar | awk '{print $8;}' | sort | tee ant.out
        jar tvf java-sdk/ldapjdk/target/ldapjdk.jar | awk '{print $8;}' | grep -v '^META-INF/maven/' | sort > maven.out
        diff ant.out maven.out

    - name: Compare ldapbeans.jar
      run: |
        jar tvf ~/build/ldapjdk/packages/ldapbeans.jar | awk '{print $8;}' | sort | tee ant.out
        jar tvf java-sdk/ldapbeans/target/ldapbeans.jar | awk '{print $8;}' | grep -v '^META-INF/maven/' | sort > maven.out
        diff ant.out maven.out

    - name: Compare ldapfilter.jar
      run: |
        jar tvf ~/build/ldapjdk/packages/ldapfilt.jar | awk '{print $8;}' | sort | tee ant.out
        jar tvf java-sdk/ldapfilter/target/ldapfilter.jar | awk '{print $8;}' | grep -v '^META-INF/maven/' | sort > maven.out
        diff ant.out maven.out

    - name: Compare ldapsp.jar
      run: |
        jar tvf ~/build/ldapjdk/packages/ldapsp.jar | awk '{print $8;}' | sort | tee ant.out
        jar tvf java-sdk/ldapsp/target/ldapsp.jar | awk '{print $8;}' | grep -v '^META-INF/maven/' | sort > maven.out
        diff ant.out maven.out

    - name: Compare ldaptools.jar
      run: |
        jar tvf ~/build/ldapjdk/packages/ldaptools.jar | awk '{print $8;}' | sort | tee ant.out
        jar tvf java-sdk/ldaptools/target/ldaptools.jar | awk '{print $8;}' | grep -v '^META-INF/maven/' | sort > maven.out
        diff ant.out maven.out

    - name: Build LDAP JDK RPMs with Ant
      run: |
        ./build.sh --work-dir=build rpm

    - name: Install RPMInspect
      run: |
        dnf install -y dnf-plugins-core
        dnf copr enable -y copr.fedorainfracloud.org/dcantrell/rpminspect
        dnf install -y rpminspect rpminspect-data-fedora

    - name: Run RPMInspect on SRPM and RPMs
      run: ./tests/bin/rpminspect.sh
