name: Code Analysis
on: [push, pull_request]

jobs:
  build:
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
    name: Waiting for build
    runs-on: ubuntu-latest
    steps:
      - name: Wait for build
        uses: lewagon/wait-on-check-action@v1.3.1
        with:
          ref: ${{ github.ref }}
          check-name: 'Building LDAP SDK'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 30
        if: github.event_name == 'push'

      - name: Wait for build
        uses: lewagon/wait-on-check-action@v1.3.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          check-name: 'Building LDAP SDK'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 30
        if: github.event_name == 'pull_request'

  sonarcloud:
    name: SonarCloud
    needs: build
    runs-on: ubuntu-latest
    env:
      SHARED: /tmp/workdir/ldapjdk
    steps:
      - name: Clone the repository
        uses: actions/checkout@v3

      - name: Retrieve ldapjdk-runner image
        uses: actions/cache@v3
        with:
          key: ldapjdk-runner-${{ github.sha }}
          path: ldapjdk-runner.tar

      - name: Load ldapjdk-runner image
        run: docker load --input ldapjdk-runner.tar

      - name: Run container
        run: |
          tests/bin/runner-init.sh pki

      - name: Copy builds in current folder
        run: |
          mkdir build
          docker cp pki:/usr/share/java/ldapbeans.jar build/
          docker cp pki:/usr/share/java/ldapfilt.jar build/
          docker cp pki:/usr/share/java/ldapjdk.jar build/
          docker cp pki:/usr/share/java/ldapsp.jar build/

      - name: Remove maven configuration 
        run: rm -f pom.xml

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  get-pr-ref:
    if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != github.repository
    name: Sonar cloud PR fork analyses deferring
    runs-on: ubuntu-latest
    steps:
      - name: Save PR information
        run: |
          mkdir -p ./pr
          echo ${{ github.event.number }} > ./pr/NR
          echo ${{ github.event.pull_request.base.ref }} > ./pr/BaseBranch

      - name: Upload pr as artifact
        uses: actions/upload-artifact@v3
        with:
          name: pr
          path: pr/

  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          severity: warning
          ignore_paths: c-sdk # We don't build and ship this so no need to check it'
          ignore_names: test-c-sdk
